extends layout
block content
  .row
    form.col.s12.m6.offset-m3(action="/login", method='POST')
      h3=title
      if msg != null
          span.red-text.lighten-1=msg
      .row
        .input-field.col.s12
          i.material-icons.prefix account_circle
          label(for='user') Username
          input#user(type='text', required='required', name='username')
        .input-field.col.s12
          i.material-icons.prefix lock
          label(for='password') Password
          input#password(type='password', required='required', name='password')
        .col.s12.right-align
          button.btn.grey.darken-4.waves-effect.waves-light(type="submit") LogIn