extends ../layout

block content
  if msg != null
    span.red-text.lighten-1=msg
  .row
    form.col.s12.m6.offset-m3(action='/contacts/create', method='POST')
      h1 New contact
      .row
        .input-field-col.s12
          label(for="name") Name
          input#name(type="text", required="required", name="name", maxlength="100")
        .input-field-col.s12
          label(for="lastname") LastName
          input#lastname(type="text", required="required", name="lastname", maxlength="100")
        .input-field-col.s12
          label(for="phone") Phone
          input#phone(type="tel", required="required", name="phone", maxlength="10")
        .input-field-col.s12
          label(for="address") Address
          input#address(type="text", required="required", name="address", maxlength="250")
        .input-field-col.s12
          label(for="fb") Facebook
          input#fb(type="text", name="facebook", maxlength="100")
        .input-field-col.s12
          label(for="tw") Twitter
          input#tw(type="text", name="twitter", maxlength="100")
        .input-field-col.s12
          label(for="gh") GitHub
          input#gh(type="text", name="github", maxlength="100")
        .input-field.col.s12
          button.btn.grey.darken-4.waves-effect.waves-light(type="submit") Create
